button {
    padding: 12px 20px;
    font-size: 15px;
    border: 0;
    cursor: pointer;
    color:white
}

input {
    padding: 8px 10px;
    font-size: 15px;
    margin-right: 10px;
}

.btnAdd {
    background-color: rgb(28, 106, 28);
}

.btnDelete {
    background-color: rgb(197, 21, 21);
}

.taskGrid,
.taskGridDisplay {
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    display: grid;
    grid-template-columns: 200px 160px 100px;
}